p {
    color: red;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 50px;
    text-decoration: underline;
    letter-spacing: 1px;
    line-height: 15px;
    text-shadow: 2px 2px 2px #bbb;
}

#principal {
    color: red;
    background-color: #00ffff;
}

#titulo {
    color: #00c8fa;
}

#cm {
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in {
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px {
    background-color: red;
    width: 10px;
    height: 10px;
}

#pt {
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: red;
    width: 1pc;
    height: 1pc;
}

.links {
    text-decoration: none;
    color: #bc2035;
    /*background-color: #bc2035;*/
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #bc2035;
}



.texto_verde{
    color: green;
}

#base {
    height: 10px;
    background-color: red;
}

#container {
    background-color: blue;
    color: white;
    padding: 10px;
}

.borda {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

.linkes {
    text-decoration: none;
}